.DS_Store
.build/
/.swiftpm
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved
.netrc
**/Source/pdex.dylib
**/Source/pdex.elf
build/
.docc-build
